@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', serif;
  background-color: #ffefef;
  height: 100%;
}

.header {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
  text-align: center;
  font-size: 20px;
}
.logo {
  margin-bottom: 30px;
}

.offer {
  width: 80%;
  /* display: flex; */
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.offer__main-title {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
  font-size: 40px;
  margin: 30px 0px 20px 0px;
}
.offer__main-intro {
  text-align: center;
  font-size: 15px;
}

.offer__main-pictures {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.picture {
  width: 30%;
}
.offer__main-description {
  display: flex;
  font-size: 15px;
}
.food-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-menu__image {
  width: 40%;
  margin: 0;
  padding-left: 50px;
  border-radius: 4px;
}

.food-menu__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 50px;
}

.food-menu__text-2 {
  order: -1;
}

.food-menu__title {
  font-size: 1.5rem;
  font-family: 'Playfair Display', sans-serif;
  margin-top: 30px;
}

/* .holiday__stay {
  color: #4c61c6;
  letter-spacing: 0.3px;
  font-weight: 600;
} */

/* .holiday__description {
  margin-top: 8px;
  text-align: justify;
} */

/* .holiday__footer {
  display: flex;
  justify-content: space-around;
} */

/* .holiday__price {
  width: 120px;
  height: 50px;
  border: 1.2px solid #4c61c6;
  border-radius: 8px;
  color: #4c61c6;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
} */

/* .holiday__price--promo {
  background-color: #ffec88;
  border: 2px solid #dac658;
} */

.food-menu__menu-btn {
  width: 120px;
  height: 50px;
  border: 1.2px solid #ffefef;
  background-color: #ffefef;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 20px;
}

.footer {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  font-size: 15px;
}
.footer p {
  text-align: center;
}
